h1 {
    font-size: 50px;
    text-align: center;
    font: oblique;
    color: blanchedalmond;
}

p {
    font-size: 32px;
    letter-spacing: 1px;
    text-align: center;
}

html {
    background-color: white;
}

body {
    width: 800px;
    background-color: gray
    border: 5px solid orange;
    margin: auto;
}

